:root {
  --black-two: #121212;
  --white-two: #fff;
  --white-three: #e8e8e8;
  --medium-blue: #307bbe;
  --white: #fafafa;
  --azure: #0290ff;
}

body {
  background-color: var(--white);
  padding-bottom: 5%;
}

body > * {
  margin-left: 5%;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 2.313rem 6.25rem 0;
}

.navbar h1 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

form * {
  height: 50px;
  border: 1px solid var(--white-three);
}

.form * {
  margin-right: 16px;
}

.info > * {
  width: 100%;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 5%;
  padding: 0;
}

.nav-items li {
  margin-right: 40%;
}

.nav-items li a {
  text-decoration: none;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
  opacity: 0.5;
}

.nav-items:nth-child(1) * {
  opacity: 1;
}

.nav-items li a:hover {
  opacity: 1;
}

.book {
  display: flex;
  align-items: center;
  width: 75rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
}

.info {
  display: flex;
  flex-direction: column;
  min-width: 650px;
  margin: 0;
  padding: 0;
}

.genre {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.book-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-author {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.buttons {
  margin-top: 16px;
}

button {
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0;
  background-color: var(--white-two);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #4386bf;
}

form button {
  margin: 0;
  width: 10%;
  border-radius: 4px;
  color: var(--white-two);
  background-color: var(--azure);
}

button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.book button:nth-child(2) {
  margin: 0 0.625rem 0 0.625rem;
  padding: 0 0.625rem 0 0.625rem;
  border-inline: solid 1px var(--white-three);
}

#progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

#percentage {
  margin-left: 16px;
  height: min-content;
  border-right: 1px solid var(--white-three);
}

#chapter {
  width: 40%;
}

.chapter {
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.chapter-number {
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 19px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.btn-update {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 1.75rem 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  color: var(--white-two);
  background-color: var(--azure);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
}

.form {
  margin: 2.313rem 6.25rem 0;
  width: 87rem;
}

.form h2 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

form {
  display: flex;
  justify-content: space-between;
}

form input {
  width: 34%;
  padding: 0 16px;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
}

.new-title {
  width: 44%;
}

.status {
  position: absolute;
  font-size: 50px;
  font-family: 'Roboto Slab', sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--white-two);
  top: 40%;
  left: 40%;
}
